---
import { Image } from "astro:assets";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import GradiantText from "../shared/GradiantText.astro";
import myImage from "../../assets/images/dev-with-c-1.webp";
import { solutions } from "../../utils/data.ts";

type SolutionsProps = {
  title: string;
  painPoint: string;
  agitatepainPoint: string;
  solution: string;
  img: ImageMetadata;
};

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="solutions" class=`flex flex-col ${className}`>
  {
    solutions.map((solution: SolutionsProps, index: number) => {
      const oddIndex = index % 2 === 0;
      const flexRow = oddIndex ? "midmd:flex-row-reverse" : "midmd:flex-row";
      const bgColor = oddIndex
        ? "bg-orange-100 dark:bg-gray-800 "
        : "bg-transparent";
      return (
        <div class={`w-100 py-10 md:py-16 ${bgColor}`}>
          <div
            class={`flex flex-col gap-10 lg:gap-12 ${flexRow} mx-auto max-w-7xl w-full`}
          >
            <div class="max-w-md mx-auto w-11/12 flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
              <Title>
                <GradiantText>{solution.title}</GradiantText>
              </Title>
              <Paragraph className="mt-8 font-medium text:lg md:text-2xl">
                {solution.painPoint}
              </Paragraph>
              <Paragraph className="mt-3 ">
                {solution.agitatepainPoint}
              </Paragraph>
              <Paragraph className="mt-3 font-medium">
                {solution.solution}
              </Paragraph>
            </div>

            <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
              <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <Image
                  src={solution.img}
                  alt="banner image"
                  width="1240"
                  height="1385"
                  class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full rounded-3xl object-cover"
                />
              </div>
            </div>
          </div>
        </div>
      );
    })
  }
</section>
